apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kube-rclone.fullname" . }}-configmap
  labels:
{{ include "kube-rclone.labels" . | indent 4 }}
data:
{{- range $key, $val := .Values.rcloneConf }}
  {{ $key }}: |-
{{ $val | indent 4}}
{{- end }}
{{- end -}}
